name: go

on:
  push:
    branches:
      - v2
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Linters (Static Analysis) for Go
    steps:
      - name: Checkout code into the Go module directory.
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache-dependency-path: "**/go.sum"

      - name: Linting & vetting.
        run: make lint

  tests:
    runs-on: ${{ matrix.platform }}
    name: Unit tests on Go ${{ matrix.go }} / ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        go: ["oldstable", "stable"]
        platform: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout code into the Go module directory.
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache-dependency-path: "**/go.sum"

      - name: Run unit tests.
        run: make test
